{{#if show}}
  <div class="stepper-content">
    {{#if showAlert}}
      <div class="alert alert-{{alert.type}}" role="alert">
        {{alert.content}}
      </div>
    {{/if}}

    <div class="row">
      {{#each themes as |theme|}}
        <div class="col-xl-4 col-md-6">
          <div class="card card-block">
            <div class="card-title">
              <h4 title="{{theme.name}}">{{theme.name}}</h4>
              <button class="btn btn-{{if (eq data.themeId theme.id) 'success' 'secondary'}}" {{action "selectTheme" theme.id}}>
                {{#if (eq data.themeId theme.id)}}
                  Избрана
                {{else}}
                  Избери
                {{/if}}
              </button>
            </div>
            <div class="card-img">
              <img class="img-fluid m-x-auto d-block" src="{{theme.cover}}" alt="">
            </div>
            <a href="{{theme.demo_url}}" class="card-link" target="_blank">Демо</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="stepper-bottom">
    <button class="btn btn-primary" {{action "next"}}>Напред</button>
  </div>
{{/if}}
