{{yield}}
<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  {{#link-to "index" class="navbar-brand"}}
    wopo
    <span class="tag tag-default">alpha</span>
  {{/link-to}}
  <ul class="nav navbar-nav pull-md-right">
    <li class="nav-item">  
      {{#link-to "index" class="nav-link"}}
        {{fa-icon "dashboard"}}
        <span class="nav-link-text">Панел</span>
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "article" class="nav-link"}}
        {{fa-icon "newspaper-o"}}
        <span class="nav-link-text">Статии</span>
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "search" class="nav-link"}}
        {{fa-icon "search"}}
        <span class="nav-link-text">Търси</span>
      {{/link-to}}
    </li>
    <li class="nav-item notifications-mobile">
      {{#link-to "notifications" class="nav-link"}}
        {{fa-icon "bell"}}
      {{/link-to}}
    </li>
    <li class="dropdown nav-item notifications-desktop">
      <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{fa-icon "bell"}}
        <span class="nav-link-text">
          Известия
        </span>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        {{#perfect-scroll}}
          {{notifications-container}}
        {{/perfect-scroll}}
      </div>
    </li>
    <li class="nav-item">
      {{#link-to "profile" class="nav-link"}}
        {{fa-icon "user"}}
        <span class="nav-link-text">Моето портфолио</span>
      {{/link-to}}
    </li>
    <li class="dropdown nav-item options">
      <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{fa-icon "caret-down"}}
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <h6 class="dropdown-header">Настройки</h6>
        {{#link-to "settings" class="dropdown-item"}}
          Профил
        {{/link-to}}
        {{#link-to "settings" class="dropdown-item"}}
          Парола
        {{/link-to}}
        <div class="dropdown-divider"></div>
        {{#link-to "index" class="dropdown-item"}}
          {{fa-icon "sign-out"}}
          <span>Изход</span>
        {{/link-to}}
      </div>
    </li>
  </ul>
</nav>