<section class="form-section">
  <div class="section-title">
    <h5 class="float-xs-left">Умения</h5>
    <div class="btn btn-success float-xs-right" data-toggle="modal" data-target=".modal.addSkills">Ново умение</div>

    {{skill-modal
      success=(action "add")
      data=addSkills
      modalVisible=addSkillsModalVisible
      alert=addSkillsAlert
      section="skills"
      modalTarget="addSkills"
      modalTitle="Ново умение"
      modalActionName="Добави"
    }}
  </div>
  
  {{#if haveSkills}}
    <div class="row">
      {{#each skills as |skill|}}
        {{#skill-card
          data=skill
          section="skills"
        }}
          <button class="btn btn-link card-link" data-toggle="modal" data-target=".modal.editSkills" {{action "updateEdit" skill}}>Редактирай</button>
          <button class="btn btn-link card-link" {{action "delete" skill}}>Изтрий</button>
        {{/skill-card}}
      {{/each}}
    </div>
  {{else}}
    <div class="alert alert-info" role="alert">
      Не сте добавили умения. Можете да добавите, използвайки бутона "Ново умение".
    </div>
  {{/if}}

  {{skill-modal
    success=(action "edit")
    data=editSkills
    modalVisible=editSkillsModalVisible
    alert=editSkillsAlert
    section="skills"
    modalTarget="editSkills"
    modalTitle="Редактиране на умение"
    modalActionName="Редактирай"
  }}
</section>
