{{#if show}}
  <div class="stepper-content">
    {{#if showAlert}}
      <div class="alert alert-{{alert.type}}" role="alert">
        {{alert.content}}
      </div>
    {{/if}}

    <section class="form-section">
      <div class="section-title">
        <h5 class="pull-xs-left">За Вас</h5>
      </div>
      <div class="form-group {{if (v-get this "data.about" "isValid") "has-success" (if aboutNotNull "has-danger")}}">
        {{text-editor
          editorId="about"
          placeholder="Напишете накратко за Вас"
          value=data.about
        }}

        <div class="form-control-feedback">
          {{#if (if aboutNotNull (v-get this "data.about" "isInvalid"))}}
              {{v-get this "data.about" "message"}}
          {{/if}}
        </div>
      </div>
    </section>
    <section class="form-section">
      <div class="section-title">
        <h5 class="pull-xs-left">Умения</h5>
        <div class="btn btn-success pull-xs-right" data-toggle="modal" data-target=".modal.addSkills">Ново умение</div>

        {{skill-modal
          success=(action "add")
          data=addSkills
          modalVisible=addSkillsModalVisible
          section="skills"
          modalTarget="addSkills"
          modalTitle="Ново умение"
          modalActionName="Добави"
        }}
      </div>
      
      {{#if haveSkills}}
        <div class="row">
          {{#each data.skills as |skill index|}}
            {{skill-card
              data=skill
              index=index
              section="skills"
              delete=(action "delete")
              edit=(action "updateEdit")
            }}
          {{/each}}
        </div>
      {{else}}
        <div class="alert alert-info" role="alert">
          Не сте добавили умения. Добавянето на най-малко едно е задължително. Можете да добавите, използвайки бутона "Ново умение".
        </div>
      {{/if}}

      {{skill-modal
        success=(action "edit")
        data=editSkills
        modalVisible=editSkillsModalVisible
        section="skills"
        modalTarget="editSkills"
        modalTitle="Редактиране на умение"
        modalActionName="Редактирай"
      }}
    </section>
    <section class="form-section">
      <div class="section-title">
        <h5 class="pull-xs-left">Трудов стаж</h5>
        <div class="btn btn-success pull-xs-right" data-toggle="modal" data-target=".modal.addWorkExperiences">Нов трудов стаж</div>

        {{work-experience-modal
          success=(action "add")
          data=addWorkExperiences
          modalVisible=addWorkExperiencesModalVisible
          section="workExperiences"
          modalTarget="addWorkExperiences"
          modalTitle="Нов трудов стаж"
          modalActionName="Добави"
        }}
      </div>

      {{#if haveWorkExperiences}}
        <div class="row">
          {{#each data.workExperiences as |workExperience index|}}
            {{work-experience-card
              data=workExperience
              index=index
              section="workExperiences"
              delete=(action "delete")
              edit=(action "updateEdit")
            }}
          {{/each}}
        </div>
      {{else}}
        <div class="alert alert-info" role="alert">
          Не сте добавили трудов стаж. Можете да добавите, използвайки бутона "Нов трудов стаж".
        </div>
      {{/if}}

      {{work-experience-modal
        success=(action "edit")
        data=editWorkExperiences
        modalVisible=editWorkExperiencesModalVisible
        section="workExperiences"
        modalTarget="editWorkExperiences"
        modalTitle="Редактиране на трудов стаж"
        modalActionName="Редактирай"
      }}
    </section>
    <section class="form-section">
      <div class="section-title">
        <h5 class="pull-xs-left">Образование и обучение</h5>
        <div class="btn btn-success pull-xs-right" data-toggle="modal" data-target=".modal.addEducation">Ново образование/обучение</div>

        {{education-modal
          success=(action "add")
          data=addEducation
          modalVisible=addEducationModalVisible
          section="education"
          modalTarget="addEducation"
          modalTitle="Ново образование/обучение"
          modalActionName="Добави"
        }}
      </div>

      {{#if haveEducation}}
        <div class="row">
          {{#each data.education as |education index|}}
            {{education-card
              data=education
              index=index
              section="education"
              delete=(action "delete")
              edit=(action "updateEdit")
            }}
          {{/each}}
        </div>
      {{else}}
        <div class="alert alert-info" role="alert">
          Не сте добавили образование/обучение. Можете да добавите, използвайки бутона "Ново образование/обучение".
        </div>
      {{/if}}

      {{education-modal
        success=(action "edit")
        data=editEducation
        modalVisible=editEducationModalVisible
        section="education"
        modalTarget="editEducation"
        modalTitle="Редактиране на образование/обучение"
        modalActionName="Редактирай"
      }}
    </section>
    <section class="form-section">
      <div class="section-title">
        <h5 class="pull-xs-left">Сертификати и отличия</h5>
        <div class="btn btn-success pull-xs-right" data-toggle="modal" data-target=".modal.addCertificates">Нов сертификат/отличие</div>

        {{certificate-modal
          success=(action "add")
          data=addCertificates
          modalVisible=addCertificatesModalVisible
          section="certificates"
          modalTarget="addCertificates"
          modalTitle="Нов сертификат/отличие"
          modalActionName="Добави"
        }}
      </div>

      {{#if haveCertificates}}
        <div class="row">
          {{#each data.certificates as |certificate index|}}
            {{certificate-card
              data=certificate
              index=index
              section="certificates"
              delete=(action "delete")
              edit=(action "updateEdit")
            }}
          {{/each}}
        </div>
      {{else}}
        <div class="alert alert-info" role="alert">
          Не сте добавили сертификати/отличия. Можете да добавите, използвайки бутона "Нов сертификат/отличие".
        </div>
      {{/if}}

      {{certificate-modal
        success=(action "edit")
        data=editCertificates
        modalVisible=editCertificatesModalVisible
        section="certificates"
        modalTarget="editCertificates"
        modalTitle="Редактиране на сертификат/отличие"
        modalActionName="Редактирай"
      }}
    </section>
    <section class="form-section">
      <div class="section-title">
        <h5 class="pull-xs-left">Проекти</h5>
        <div class="btn btn-success pull-xs-right" data-toggle="modal" data-target=".modal.addProjects">Нов проект</div>

        {{project-modal
          success=(action "add")
          data=addProjects
          modalVisible=addProjectsModalVisible
          section="projects"
          modalTarget="addProjects"
          modalTitle="Нов проект"
          modalActionName="Добави"
        }}
      </div>

      {{#if haveProjects}}
        <div class="row">
          {{#each data.projects as |project index|}}
            {{project-card
              data=project
              index=index
              section="projects"
              delete=(action "delete")
              edit=(action "updateEdit")
            }}
          {{/each}}
        </div>
      {{else}}
        <div class="alert alert-info" role="alert">
          Не сте добавили проекти. Можете да добавите, използвайки бутона "Нов проект".
        </div>
      {{/if}}

      {{project-modal
        success=(action "edit")
        data=editProjects
        modalVisible=editProjectsModalVisible
        section="projects"
        modalTarget="editProjects"
        modalTitle="Редактиране на проект"
        modalActionName="Редактирай"
      }}
    </section>
  </div>
  <div class="stepper-bottom">
    <button class="btn btn-primary" {{action "back"}}>Назад</button>
    <button class="btn btn-primary" {{action "next"}}>Напред</button>
  </div>
{{/if}}