{{#if show}}
  <div class="stepper-content">
    {{#if showAlert}}
      <div class="alert alert-{{alert.type}}" role="alert">
        {{alert.content}}
      </div>
    {{/if}}

    <section class="form-section">
      <div class="section-title">
        <h5 class="pull-xs-left">За Вас</h5>
      </div>
      <div class="form-group {{if (v-get this "data.about" "isValid") "has-success" (if aboutNotNull "has-danger")}}">
        {{text-editor
          editorId="about"
          placeholder="Напишете накратко за Вас"
          value=data.about
        }}

        <div class="form-control-feedback">
          {{#if (if aboutNotNull (v-get this "data.about" "isInvalid"))}}
              {{v-get this "data.about" "message"}}
          {{/if}}
        </div>
      </div>
    </section>
    <section class="form-section">
      <div class="section-title">
        <h5 class="pull-xs-left">Умения</h5>
        <div class="btn btn-success pull-xs-right" data-toggle="modal" data-target=".modal.addSkill">Ново умение</div>

        {{skill-modal
          success=(action "addSkill")
          data=addSkill
          modalVisible=addSkillModalVisible
          modalTarget="addSkill"
          modalTitle="Ново умение"
          modalActionName="Добави"
        }}
      </div>
      
      {{#if haveSkills}}
        <div class="row">
          {{#each data.skills as |skill index|}}
            {{skill-card
              data=skill
              index=index
              delete=(action "deleteSkill")
              edit=(action "updateEditSkill")
            }}
          {{/each}}
        </div>
      {{else}}
        <div class="alert alert-info" role="alert">
          Не сте добавили умения. Добавянето на най-малко едно е задължително. Можете да добавите, използвайки бутона "Ново умение".
        </div>
      {{/if}}

      {{skill-modal
        success=(action "editSkill")
        data=editSkill
        modalVisible=editSkillModalVisible
        modalTarget="editSkill"
        modalTitle="Редактиране на умение"
        modalActionName="Редактирай"
      }}
    </section>
    <section class="form-section">
      <div class="section-title">
        <h5 class="pull-xs-left">Трудов стаж</h5>
        <div class="btn btn-success pull-xs-right" data-toggle="modal" data-target=".modal.addWorkExperience">Нов трудов стаж</div>

        {{work-experience-modal
          success=(action "addWorkExperience")
          data=addWorkExperience
          modalVisible=addWorkExperienceModalVisible
          modalTarget="addWorkExperience"
          modalTitle="Нов трудов стаж"
          modalActionName="Добави"
        }}
      </div>

      {{#if haveWorkExperiences}}
        <div class="row">
          {{#each data.workExperiences as |workExperience index|}}
            {{work-experience-card
              data=workExperience
              index=index
              delete=(action "deleteWorkExperience")
              edit=(action "updateEditWorkExperience")
            }}
          {{/each}}
        </div>
      {{else}}
        <div class="alert alert-info" role="alert">
          Не сте добавили трудов стаж. Можете да добавите, използвайки бутона "Нов трудов стаж".
        </div>
      {{/if}}

      {{work-experience-modal
        success=(action "editWorkExperience")
        data=editWorkExperience
        modalVisible=editWorkExperienceModalVisible
        modalTarget="editWorkExperience"
        modalTitle="Редактиране на трудов стаж"
        modalActionName="Редактирай"
      }}
    </section>
    <section class="form-section">
      <div class="section-title">
        <h5 class="pull-xs-left">Образование и обучение</h5>
        <div class="btn btn-success pull-xs-right" data-toggle="modal" data-target=".modal.addEducation">Ново образование/обучение</div>

        {{education-modal
          success=(action "addEducation")
          data=addEducation
          modalVisible=addEducationModalVisible
          modalTarget="addEducation"
          modalTitle="Ново образование/обучение"
          modalActionName="Добави"
        }}
      </div>

      {{#if haveEducation}}
        <div class="row">
          {{#each data.education as |education index|}}
            {{education-card
              data=education
              index=index
              delete=(action "deleteEducation")
              edit=(action "updateEditEducation")
            }}
          {{/each}}
        </div>
      {{else}}
        <div class="alert alert-info" role="alert">
          Не сте добавили образование/обучение. Можете да добавите, използвайки бутона "Ново образование/обучение".
        </div>
      {{/if}}

      {{education-modal
        success=(action "editEducation")
        data=editEducation
        modalVisible=editEducationModalVisible
        modalTarget="editEducation"
        modalTitle="Редактиране на образование/обучение"
        modalActionName="Редактирай"
      }}
    </section>
    <section class="form-section">
      <div class="section-title">
        <h5 class="pull-xs-left">Сертификати и отличия</h5>
        <div class="btn btn-success pull-xs-right" data-toggle="modal" data-target=".bd-example-modal-lg.certificates">Нов сертификат/отличие</div>
      </div>

      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="card card-block">
            <div class="card-title">
              <h4 title="">Първо място в категория "Мултимедийни презентации" на НЕТ "Джон Атанасов" 2015</h4>
            </div>
            <div class="card-img">
              <img class="img-fluid m-x-auto d-block" src="http://goo.gl/CQTpGC" alt="The Starry Night">
            </div>
            <button class="btn btn-link card-link">Редактирай</button>
            <button class="btn btn-link card-link">Изтрий</button>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="stepper-bottom">
    <button class="btn btn-primary" {{action "back"}}>Назад</button>
    <button class="btn btn-primary" {{action "next"}}>Напред</button>
  </div>
{{/if}}