{{#if show}}
  <div class="stepper-content">
    {{#if showAlert}}
      <div class="alert alert-{{alert.type}}" role="alert">
        {{alert.content}}
      </div>
    {{/if}}

    <section class="form-section">
      <div class="section-title">
        <h5 class="pull-xs-left">За Вас</h5>
      </div>
      <div class="form-group {{if (v-get this "data.about" "isValid") "has-success" "has-danger"}}">
        {{textarea
          id="about"
          class="form-control"
          placeholder="Моето страхотно описание..."
          value=data.about
        }}

        <div class="form-control-feedback">
          {{#if (v-get this "data.about" "isInvalid")}}
              {{v-get this "data.about" "message"}}
          {{/if}}
        </div>
      </div>
    </section>
    <section class="form-section">
      <div class="section-title">
        <h5 class="pull-xs-left">Умения</h5>
        <div class="btn btn-success pull-xs-right" data-toggle="modal" data-target=".modal.addSkill">Ново умение</div>

        {{skill-modal
          success=(action "addSkill")
          data=addSkill
          modalVisible=addSkillModalVisible
          modalTarget="addSkill"
          modalTitle="Ново умение"
          modalActionName="Добави"
        }}
      </div>
      
      {{#if haveSkills}}
        <div class="row">
          {{#each data.skills as |skill index|}}
            {{skill-card
              data=skill
              index=index
              delete=(action "deleteSkill")
              edit=(action "updateEditSkill")
            }}
          {{/each}}
        </div>
      {{else}}
        <div class="alert alert-info" role="alert">
          Не сте добавили умения. Добавянето на най-малко едно умение е задължително. Можете да добавите ново умение, използвайки бутона "Ново умение".
        </div>
      {{/if}}

      {{skill-modal
        success=(action "editSkill")
        data=editSkill
        modalVisible=editSkillModalVisible
        modalTarget="editSkill"
        modalTitle="Редактиране на умение"
        modalActionName="Редактирай"
      }}
    </section>
    <section class="form-section">
      <div class="section-title">
        <h5 class="pull-xs-left">Трудов стаж</h5>
        <div class="btn btn-success pull-xs-right" data-toggle="modal" data-target=".modal.addWorkExperience">Нов трудов стаж</div>

        {{work-experience-modal
          success=(action "addWorkExperience")
          data=addWorkExperience
          modalVisible=addWorkExperienceModalVisible
          modalTarget="addWorkExperience"
          modalTitle="Нов трудов стаж"
          modalActionName="Добави"
        }}
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="card card-block">
            <h5 class="card-title">Художник</h5>
            <h6 class="card-subtitle text-muted">20.10.2015 - 23.06.2016</h6>
            {{#link-to "dashboard.content.others" class="card-link"}}Редактирай{{/link-to}}
            {{#link-to "dashboard.content.others" class="card-link"}}Изтрий{{/link-to}}
          </div>
        </div>
      </div>
    </section>
    <section class="form-section">
      <div class="section-title">
        <h5 class="pull-xs-left">Образование и обучение</h5>
        <div class="btn btn-success pull-xs-right" data-toggle="modal" data-target=".bd-example-modal-lg.education">Ново учебно заведение</div>
      </div>
      <div class="modal fade bd-example-modal-lg education" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="section-title">
              <h2 class="pull-xs-left">Ново учебно заведение</h2>
            </div>
            <div class="form-group">
              <label for="title">Име</label>
              <input type="text" name="title" class="form-control" id="title" placeholder="СУ 'Сава Доброплодни' ">
            </div>
            <div class="form-group">
              <label for="datepicker">Времеви период</label>
              {{date-picker}}
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Добави</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="card card-block">
            <h5 class="card-title">СУ "Сава Доброплодни"</h5>
            <h6 class="card-subtitle text-muted">15.09.2012 - 14.05.2016</h6>
            {{#link-to "dashboard.content.others" class="card-link"}}Редактирай{{/link-to}}
            {{#link-to "dashboard.content.others" class="card-link"}}Изтрий{{/link-to}}
          </div>
        </div>
      </div>
    </section>
    <section class="form-section">
      <div class="section-title">
        <h5 class="pull-xs-left">Сертификати и отличия</h5>
        <div class="btn btn-success pull-xs-right" data-toggle="modal" data-target=".bd-example-modal-lg.certificates">Ново отличие/сертификат</div>
      </div>
      <div class="modal fade bd-example-modal-lg certificates" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="section-title">
              <h2 class="pull-xs-left">Ново отличие</h2>
            </div>
            <div class="form-group">
              <label for="title">Име</label>
              <input type="text" name="title" class="form-control" id="title" placeholder="Награда от състезанието...">
            </div>
            <div class="form-group">
              <label for="image">Снимка</label>
              <input type="file" class="form-control-file" id="image">
            </div> 
            <div class="form-group">
              <button class="btn btn-primary">Добави</button>
            </div>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="card card-block">
            <h5 class="card-title">Първо място в категория "Мултимедийни презентации" на НЕТ "Джон Атанасов" 2015</h5>      
            <div class="card-img">
              <img class="img-fluid m-x-auto d-block" src="http://goo.gl/CQTpGC" alt="The Starry Night">
            </div>
            {{#link-to "dashboard.content.others" class="card-link"}}Редактирай{{/link-to}}
            {{#link-to "dashboard.content.others" class="card-link"}}Изтрий{{/link-to}}
          </div>
        </div>
      </div>
    </section>
    <section class="form-section">
      <div class="section-title">
        <h5 class="pull-xs-left">Импортиране на статии</h5>
        <div class="btn btn-success pull-xs-right" data-toggle="modal" data-target=".bd-example-modal-lg.content">Импорт</div>
      </div>
      <div class="modal fade bd-example-modal-lg content" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="section-title">
              <h2 class="pull-xs-left">Импортиране на статии</h2>
            </div>
            <div class="form-group">
              <label for="title">Линк</label>
              <input type="text" name="title" class="form-control" id="title" placeholder="http://example.com/example">
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Добави</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="stepper-bottom">
    <button class="btn btn-primary" {{action "back"}}>Назад</button>
    <button class="btn btn-primary" {{action "next"}}>Напред</button>
  </div>
{{/if}}