{{#x-modal
  modalTarget=modalTarget
  modalTitle=modalTitle
  modalVisible=modalVisible
  alert=alert
}}
  <form {{action "submitForm" on="submit"}}>
    <div class="modal-body">
      {{#if showAlert}}
        <div class="alert alert-{{alert.type}}" role="alert">
          {{alert.content}}
        </div>
      {{/if}}

      <div class="form-group {{if (v-get this "data.name" "isValid") "has-success" (if nameShowErrorMessage "has-danger")}}">
        <label for="{{modalTarget}}Name">Име</label>
        {{input
          type="text"
          name="name"
          class="form-control"
          id=(concat modalTarget "Name")
          placeholder="Напиши името на умението"
          value=data.name
          autocomplete="off"
        }}

        <div class="form-control-feedback">
          {{#if nameShowErrorMessage}}
              {{v-get this "data.name" "message"}}
          {{/if}}
        </div>
      </div>

      <div class="form-group {{if (v-get this "data.familiarity" "isValid") "has-success" (if familiarityShowErrorMessage "has-danger")}}">
        <label>Запознатост (в проценти)</label>
        {{ui-slider 
         value=data.familiarity
         min=0 
         max=100 
         step=1 
         orientation='horizontal' 
         tooltip='show' 
         disabled=false 
         handle='round' 
         selection='before' 
         tooltipPosition='top'
         focus=true }}

        <div class="form-control-feedback">
          {{#if familiarityShowErrorMessage}}
              {{v-get this "data.familiarity" "message"}}
          {{/if}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
      <button type="submit" class="btn btn-primary">{{modalActionName}}</button>
    </div>
  </form>
{{/x-modal}}
