{{#x-modal
  modalTarget=modalTarget
  modalTitle=modalTitle
  modalVisible=modalVisible
  alert=alert
}}
  <form {{action "submitForm" on="submit"}}>
    <div class="modal-body">
      {{#if showAlert}}
        <div class="alert alert-{{alert.type}}" role="alert">
          {{alert.content}}
        </div>
      {{/if}}

      <div class="form-group {{if (v-get this "data.name" "isValid") "has-success" (if nameShowErrorMessage "has-danger")}}">
        <label for="{{modalTarget}}Name">Име</label>
        {{input
          type="text"
          name="name"
          class="form-control"
          id=(concat modalTarget "Name")
          placeholder="Photoshop..."
          value=data.name
          autocomplete="off"
        }}

        <div class="form-control-feedback">
          {{#if nameShowErrorMessage}}
              {{v-get this "data.name" "message"}}
          {{/if}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
      <button type="submit" class="btn btn-primary">{{modalActionName}}</button>
    </div>
  </form>
{{/x-modal}}
