<div class="col-xl-4 col-md-6">
  <div class="card card-block">
    <div class="card-title">
      <h4 title="{{data.name}}" class="text-xs-center">{{data.name}}</h4>
    </div>
    <h6 class="card-subtitle text-muted" title="{{data.familiarity}}%">Запознатост: {{data.familiarity}}%</h6>
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      <button class="btn btn-link card-link" data-toggle="modal" data-target=".modal.editSkills" {{action edit section index}}>Редактирай</button>
      <button class="btn btn-link card-link" {{action delete section index}}>Изтрий</button>
    {{/if}}
  </div>
</div>
