<div class="form-group {{if isValid "has-success" (if showErrorMessage "has-danger")}}">
  <label for={{valuePath}}>{{label}}</label>
  {{input
    type=type
    value=value
    placeholder=placeholder
    class=(concat "form-control" " " (if isValid "form-control-success" (if showErrorMessage "form-control-danger")))
    name=valuePath
    id=valuePath
    autocomplete=autocomplete
    disabled=disabled
  }}

  <div class="form-control-feedback">
    {{#if showErrorMessage}}
        {{v-get model valuePath "message"}}
    {{/if}}
  </div>
</div>
