<div class="stepper">
  <div class="stepper-top">
    <div class="divider"></div>
    <div class="step done">
      <span class="tag tag-pill tag-primary">{{fa-icon "check"}}</span>
      <span class="title">{{ firstStepTitle }}</span>
    </div>
    <div class="step active">
      <span class="tag tag-pill tag-primary">2</span>
      <span class="title">{{ secondStepTitle }}</span>
    </div>
    <div class="step locked">
      <span class="tag tag-pill tag-primary">3</span>
      <span class="title">{{ thirdStepTitle }}</span>
    </div>
  </div>
  <div class="stepper-content {{if isFirst "show"}}">
    {{yield firstContent}}
  </div>
  <div class="stepper-content {{if isSecond "show"}}">
    {{yield secondContent}}
  </div>
  <div class="stepper-content {{if isThird "show"}}">
    {{yield thirdContent}}
  </div>
  <div class="stepper-bottom">
    {{#if isFirst}}
      <button class="btn btn-primary" {{action "firstNext"}}>Напред</button>
    {{else if isSecond}}
      <button class="btn btn-primary" {{action "secondNext"}}>Напред</button>
    {{else if isThird}}
      <button class="btn btn-primary" {{action thirdAction}}>Завърши</button>
    {{/if}}
  </div>
</div>