{{title "Табло"}}
<div class="container">
  <div class="page-title">
    <h2 class="pull-xs-left">Табло</h2>
  </div>
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card card-primary statistics">
        <div class="card-block">
          {{fa-icon "user"}}
          <div class="details">
            <h1>{{model.todaysVisitsCount}}</h1>
            <span>посещения от днес</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-success statistics">
        <div class="card-block">
          {{fa-icon "pencil"}}
          <div class="details">
            <h1>{{model.articlesCount}}</h1>
            <span>статии</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-warning statistics">
        <div class="card-block">
          {{fa-icon "briefcase"}}
          <div class="details">
            <h1>{{model.projectsCount}}</h1>
            <span>проекта</span>
          </div>
        </div>
      </div>    
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-danger statistics">
        <div class="card-block">
          {{fa-icon "laptop"}}
          <div class="details">
            <h1>{{model.workExperiencesCount}}</h1>
            <span>трудови стажа</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header">
          Посещения на портфолиото (последните 30 дена)
        </div>
        <div class="card-block">
          {{visits-count-chart data=model.visitsMonth}}
        </div>
      </div>
    </div>     
  </div>
</div>