{{sidebar-nav}}
<div class="page-wrapper">
  <div class="container">
    <h2>Моите статистики</h2>
    <hr>
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="card card-primary statistics">
          <div class="card-block">
            {{fa-icon "user"}}
            <div class="details">
              <h1>140</h1>
              <span>последователя</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card card-success statistics">
          <div class="card-block">
            {{fa-icon "pencil"}}
            <div class="details">
              <h1>10</h1>
              <span>статии</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card card-warning statistics">
          <div class="card-block">
            {{fa-icon "briefcase"}}
            <div class="details">
              <h1>5</h1>
              <span>проекта</span>
            </div>
          </div>
        </div>    
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card card-danger statistics">
          <div class="card-block">
            {{fa-icon "laptop"}}
            <div class="details">
              <h1>3</h1>
              <span>работи</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
