{{title "Магазин за теми"}}
{{nav-bar}}
<div class="container">
  <div class="page-title">
    <h2 class="float-xs-left">Магазин за теми</h2>
  </div>
  <div class="row">
    {{#each themes as |theme|}}
      <div class="col-xl-4 col-md-6">
        <div class="card card-block">
          <div class="card-title">
            <h4 title="{{theme.name}}">{{theme.name}}</h4>
            {{#if (not theme.installed)}}
              <button disabled={{if (eq disableBtn theme.id) true false}} class="btn btn-success" {{action "install" theme}}>
                Инсталирай
              </button>
            {{else if canUninstall}}
              <button disabled={{if (eq disableBtn theme.id) true false}} class="btn btn-secondary" {{action "uninstall" theme}}>
                Деинсталирай
              </button>
            {{/if}}
          </div>
          <div class="card-img">
            <img class="img-fluid m-x-auto d-block" src="{{theme.cover}}" alt="">
          </div>
          {{!-- {{#link-to "dashboard.theme.store" class="card-link"}}Демо{{/link-to}} --}}
        </div>
      </div>
    {{/each}}
  </div>
</div>