{{title "Настройки на портфолиото"}}
<div class="page-title">
  <h2 class="float-left">Настройки на портфолиото</h2>
</div>

{{#if showAlert}}
  <div class="alert alert-{{alert.type}}" role="alert">
    {{alert.content}}
  </div>
{{/if}}

<section class="form-section">
  <form {{action "submitForm" on="submit"}}>
    <div class="form-group {{if (v-get this "model.title" "isValid") "has-success" (if (not-eq model.title null) "has-danger")}}">
      <label for="title">Заглавие</label>
      {{input
        type="text"
        id="title"
        class="form-control"
        placeholder="Напишете заглавието на портфолиото Ви"
        value=model.title
      }}

      <div class="form-control-feedback">
        {{#if (if (not-eq model.title null) (v-get this "model.title" "isInvalid"))}}
          {{v-get this "model.title" "message"}}
        {{/if}}
      </div>
    </div>
    <div class="form-group">
      <label for="description">Описание</label>
      {{textarea
        class="form-control"
        id="description"
        placeholder="Напишете описанието на портфолиото Ви"
        value=model.description
      }}
    </div>
    <div class="form-group">
      <label for="keywords">Ключови думи</label>
      {{keywords-input
        inputId="keywords"
        placeholder="Напишете ключовите думи на портфолиото Ви"
        value=model.keywords
      }}
    </div>
    <div class="form-group {{if (v-get this "model.job_offers" "isInvalid") (if (not-eq model.job_offers null) "has-danger")}}">
      <label class="custom-control custom-checkbox">
        {{input
          class="custom-control-input"
          type="checkbox"
          checked=model.job_offers
        }}
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Получаване на предложения за работа от работодателите в wopo</span>
      </label>
      <div class="form-control-feedback">
        {{#if (if (not-eq model.job_offers null) (v-get this "model.job_offers" "isInvalid"))}}
            {{v-get this "model.job_offers" "message"}}
        {{/if}}
      </div>
    </div>
    <div class="form-bottom">
      <button role="submit" class="btn btn-success btn-form float-right">Запази</button>
    </div>
  </form>
</section>
{{!-- <section class="form-section">
  <div class="section-title">
    <h4 class="float-xs-left">Абонаменти</h4>
  </div>
  <div class="form-group">
    <label for="email">E-mail абонамента система</label>
  </div>
  <div class="form-group">
    <label for="email">RSS абонамента система</label>
  </div>
</section>
<section class="form-section">
  <div class="section-title">
    <h4 class="float-xs-left">Публикуване</h4>
  </div>
  <div class="form-group">
    <label for="wopo">Wopo</label>
    <input type="text" class="form-control" id="wopo" placeholder="example.wopo.io">
  </div>
  <div class="form-group">
    <label for="github">Github</label>
    <input type="text" class="form-control" id="github" placeholder="example.github.io">
  </div>
  <div class="form-group">
    <label for="hosting">Собствен хостинг</label>
    <input type="text" class="form-control" id="hosting" placeholder="example.com">
  </div>
</section>
<section class="form-section">
  <div class="section-title">
    <h4 class="float-xs-left">Изтегляне</h4>
  </div>
  <div class="form-group">
    <div class="form-check">
      <label for="optionsRadios">Изберете формат на изтегляне</label>
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        PDF
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
        Word
      </label>
    </div>
  </div>
  <div class="btn btn-success btn-form">
    Изтегли
  </div>
</section> --}}

<section class="form-section">
  <div class="section-title">
    <h4 class="float-xs-left">Изтриване на портфолиото</h4>
  </div>

  <button type="button" class="btn btn-danger btn-form" data-toggle="modal" data-target="#deletePortfolio">
    Изтрий
  </button>

  <div class="modal fade" id="deletePortfolio" tabindex="-1" role="dialog" aria-labelledby="deletePortfolioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="deletePortfolioLabel">Наистина ли искате да изтриете портфолиото си?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отказ</button>
          <button type="button" class="btn btn-danger" {{action "delete"}}>Изтрий</button>
        </div>
      </div>
    </div>
  </div>
</section>
