{{title "Моите статии"}}
<div class="page-title">
  <h2 class="float-xs-left">Моите статии</h2>
  <div class="btn btn-success float-xs-right" data-toggle="modal" data-target=".modal.addArticles">Нова статия</div>

  {{article-modal
    success=(action "add")
    data=addArticles
    modalVisible=addArticlesModalVisible
    modalTarget="addArticles"
    modalTitle="Нова статия"
    modalActionName="Добави"
    alert=addArticlesAlert
  }}
</div>

{{#if haveArticles}}
  <div class="row">
    {{#each articles as |article|}}
      {{article-card
        data=article
        delete=(action "delete")
        edit=(action "updateEdit")
      }}
    {{/each}}
  </div>
{{else}}
  <div class="alert alert-info" role="alert">
    Няма добавени статии. Можете да добавите, използвайки бутона "Нова статия".
  </div>
{{/if}}

{{article-modal
  success=(action "edit")
  data=editArticles
  modalVisible=editArticlesModalVisible
  modalTarget="editArticles"
  modalTitle="Редактиране на статия"
  modalActionName="Редактирай"
}}
