<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <a class="navbar-brand" href="#">wopo</a>
  <ul class="nav navbar-nav pull-md-right">
    <li class="nav-item">  
      {{#link-to "index" class="nav-link"}}
        {{fa-icon "dashboard"}}
        <span class="nav-link-text">Панел</span>
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "article" class="nav-link"}}
        {{fa-icon "newspaper-o"}}
        <span class="nav-link-text">Статии</span>
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "search" class="nav-link"}}
        {{fa-icon "search"}}
        <span class="nav-link-text">Търси</span>
      {{/link-to}}
    </li>
    <li class="nav-item notifications-mobile">
      {{#link-to "notifications" class="nav-link"}}
        {{fa-icon "bell"}}
      {{/link-to}}
    </li>
    <li class="dropdown nav-item notifications-desktop">
      <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{fa-icon "bell"}}
        <span class="nav-link-text">
          Известия
        </span>
      </button>
      <li class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        {{#link-to "index"}}
          <span>
            Тати хареса снимката ти.
          </span>
        {{/link-to}}
        <div class="dropdown-divider"></div>
        {{#link-to "index"}}
          <span>
            Мама хареса снимката ти.
          </span>
        {{/link-to}}
      </li>
    </li>
    <li class="nav-item">
      {{#link-to "profile" class="nav-link"}}
        {{fa-icon "user"}}
        <span class="nav-link-text">Ивана Великова</span>
      {{/link-to}}
    </li>
    <li class="dropdown nav-item options">
      <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{fa-icon "caret-down"}}
      </button>
      <li class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        {{#link-to "settings"}}
          {{fa-icon "gears"}}
          <span>Настройки на профила</span>
        {{/link-to}}
        <div class="dropdown-divider"></div>
        {{#link-to "index"}}
          {{fa-icon "sign-out"}}
          <span>Изход</span>
        {{/link-to}}
      </li>
    </li>
  </ul>
</nav>
<div class="container">
  {{outlet}}
</div>  