{{title "Начало"}}
{{index-navbar}}
<div class="center-content">
  <div class="jumbotron text-xs-center">
    <h2>Портфолио за всеки!</h2>
    {{#link-to "registration" class="btn btn-primary"}} Регистрирай се сега! {{/link-to}}
    <div class="themes text-xs-center">
      <div class="secondary-theme">
        {{second-theme}}
      </div>
      <div class="primary-theme">
        {{first-theme}}
      </div>
      <div class="secondary-theme">
        {{third-theme}}
      </div>
    </div>
  </div>
  <div class="reasons">
    <div class="profesional-portfolio">
      <div class="text-xs-left">
        <h2>Професионално портфолио</h2>
        <h4>C готовите теми и лесен интерфейс, създаването на професионално портфолио никога не е било по-лесно.</h4>
      </div>
      <div class="text-xs-right icon">
        {{theme-pc}}
      </div>
    </div>
    <div class="full-control">
      <div class="text-xs-right">
        <h2>Пълен контрол</h2>
        <h4>Можете напълно да персонализирате портфолиото си и да изберете къде да го качите, лесно и удобно.</h4>
      </div>
      <div class="text-xs-left icon">
        {{full-control}}
      </div>
    </div>
    <div class="work">
      <div class="text-xs-left">
        <h2>Работа</h2>
        <h4>Ще намерите работа 100% по-бързо от обичайното!</h4>
      </div>
      <div class="text-xs-right icon">
        {{shaking-hands}}
      </div>
    </div>
  </div>
</div>