{{title "Начало"}}
{{index-navbar}}
<div class="container home-page text-xs-center">
  <div class="jumbotron">
    <div class="register">
      <h2>Портфолио за всеки!</h2>
      {{#link-to "registration" class="btn btn-primary"}} Регистрирай се сега! {{/link-to}}
    </div>
    <div class="themes">
      <div class="secondary-theme first">
        {{second-theme}}
      </div>
      <div class="primary-theme">
        {{first-theme}}
      </div>
      <div class="secondary-theme second">
        {{third-theme}}
      </div>
    </div>
  </div>
  <div class="reasons">
    <div class="profesional-portfolio">
      <div class="description text-md-left">
        <h2>Професионално портфолио</h2>
        <h4>C готовите теми и лесен интерфейс, създаването на професионално портфолио никога не е било по-лесно.</h4>
      </div>
      <div class="icon theme-pc">
        {{theme-pc}}
      </div>
    </div>
    <div class="full-control">
      <div class="description text-md-right">
        <h2>Пълен контрол</h2>
        <h4>Можете напълно да персонализирате портфолиото си и да изберете къде да го качите, лесно и удобно.</h4>
      </div>
      <div class="icon person-managing">
        {{person-managing}}
      </div>
    </div>
    {{!-- <div class="work">
      <div class="description text-md-left">
        <h2>Работа</h2>
        <h4>Ще намерите работа 100% по-бързо от обичайното!</h4>
      </div>
      <div class="icon shaking-hands">
        {{shaking-hands}}
      </div>
    </div> --}}
  </div>
  {{#index-reviews}}
    <ul>
      <li>
        <div class="review">
          <div class="person">
            <div class="pic">
              <img class="rounded-circle" src="{{BASE_URL}}/reviews/madlena_stancheva.jpg" alt="">
            </div>
            <h4>Мадлена Станчева</h4>
            <h5>Учител</h5>
          </div>
          <div class="comment">
            <p>"Портфолиото е възможност да се направи собствена ретроспекция на философията на опита досега. С <strong>wopo</strong> всеки, дори с по-ниска компютърна грамотност, ще има възможността да се представи по най-добрия начин!"</p>
          </div>
        </div>
      </li>
      <li>
        <div class="review">
          <div class="person">
            <div class="pic">
              <img class="rounded-circle" src="{{BASE_URL}}/reviews/dimitar_dimitrov.jpg" alt="">
            </div>
            <h4>Димитър Димитров</h4>
            <h5>Учител</h5>
          </div>
          <div class="comment">
            <p>"<strong>Wopo</strong> е лесно за използване, но и в същото време далеч по-напреднал от подобни системи. Това е признак за успешен продукт."</p>
          </div>
        </div>
      </li>
    </ul>
  {{/index-reviews}}
  <div class="bottom">
    <div class="register">
      {{x-bottom}}
    </div>
    {{work-space}}
  </div>
  <div class="footer">
    {{x-footer}}
  </div>
</div>
