{{title "Начало"}}
{{index-navbar}}
<div class="center-content">
  <div class="jumbotron text-xs-center">
    <h2>Портфолио за всеки!</h2>
    {{#link-to "registration" class="btn btn-primary"}} Регистрирай се сега! {{/link-to}}
    <div class="themes text-xs-center">
      <div class="secondary-theme">
        {{second-theme}}
      </div>
      <div class="primary-theme">
        {{first-theme}}
      </div>
      <div class="secondary-theme">
        {{third-theme}}
      </div>
    </div>
  </div>
  <div class="reasons">
    <div class="profesional-portfolio text-xs-center">
      <div class="text-xs-left">
        <h2>Професионално портфолио</h2>
        <h4>C готовите теми и лесен интерфейс, създаването на професионално портфолио никога не е било по-лесно.</h4>
      </div>
      <div class="icon theme-pc">
        {{theme-pc}}
      </div>
    </div>
    <div class="full-control text-xs-center">
      <div class="text-xs-right">
        <h2>Пълен контрол</h2>
        <h4>Можете напълно да персонализирате портфолиото си и да изберете къде да го качите, лесно и удобно.</h4>
      </div>
      <div class="icon person-managing">
        {{person-managing}}
      </div>
    </div>
    <div class="work text-xs-center">
      <div class="text-xs-left">
        <h2>Работа</h2>
        <h4>Ще намерите работа 100% по-бързо от обичайното!</h4>
      </div>
      <div class="icon shaking-hands">
        {{shaking-hands}}
      </div>
    </div>
  </div>
  <div class="reviews text-xs-center">
    {{fa-icon "chevron-left"}}
    {{fa-icon "chevron-right"}}
    {{site-reviews}}
  </div>
  <div class="bottom text-xs-center">
    {{x-bottom}}
  </div>
  <div class="footer">
    {{x-footer}}
  </div>
</div>