<div class="auth-wrapper">
  <section class="auth-content">
    {{#link-to "index" class="auth-logo"}}
      {{logo-symbol class="logo-symbol"}}
      {{logo-text class="logo-text"}}
    {{/link-to}}
    <div class="auth-form">
      <h2 class="text-xs-center">Регистрация</h2>
      {{validated-input model=model
        label="Име"
        value=name
        valuePath="name"
        type="text"
        placeholder="Напиши името си"
        autocomplete="off"
      }}
      {{validated-input model=model
        label="E-mail"
        value=email
        valuePath="email"
        type="email"
        placeholder='Напиши е-mail адреса си'
        autocomplete="off"
      }}
      {{validated-input model=model
        label="Парола"
        value=password
        valuePath='password'
        type="password"
        placeholder='Напиши паролата си'
      }}
      <p class="terms text-xs-center">
        С регистрацията Вие се съгласявате с нашите {{#link-to "index"}}Условия на ползване{{/link-to}}.
      </p>
      <button class="btn btn-success btn-block" disabled={{v-get model 'isInvalid'}} {{action "register"}}>Регистрация</button>
    </div>
    <div class="auth-bottom"> 
      <p>Вече имате профил? {{#link-to "login"}}Вход{{/link-to}}</p>
    </div>
  </section>
</div>
