<div class="auth-wrapper">
  <section class="auth-content">
    {{#link-to "index" class="auth-logo"}}
      {{logo-symbol class="logo-symbol"}}
      {{logo-text class="logo-text"}}
    {{/link-to}}
    <div class="auth-form">
      <h2 class="text-xs-center">Регистрация</h2>
      <div class="form-group">
        <label for="name">Име</label>
        {{input type="text" class="form-control" id="name" placeholder="Напиши името си" value=name}}
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        {{input type="email" class="form-control" id="email" placeholder="Напиши е-mail адреса си" value=email}}
      </div>
      <div class="form-group">
        <label for="password">Парола</label>
        {{input type="password" class="form-control" id="password" placeholder="Напиши паролата си" value=password}}
      </div>
      <p class="terms text-xs-center">
        С регистрацията Вие се съгласявате с нашите {{#link-to "index"}}Условия на ползване{{/link-to}}.
      </p>
      <button class="btn btn-success btn-block" {{action "register"}}>Регистрация</button>
    </div>
    <div class="auth-bottom"> 
      <p>Вече имате профил? {{#link-to "login"}}Вход{{/link-to}}</p>
    </div>
  </section>
</div>