{{title "Регистрация"}}

{{#auth-form model=model
  formName="Регистрация"
  formActionName="Регистрация"
  disableForm=disableForm
  alert=alert
  formAction=(action "register")
  as |section|
}}
  {{#if section.isContent}}
    {{validated-input model=model
      label="Име"
      value=name
      valuePath="name"
      type="text"
      placeholder="Напишите името си"
      autocomplete="off"
      disabled=disableForm
    }}

    {{validated-input model=model
      label="E-mail"
      value=email
      valuePath="email"
      type="email"
      placeholder='Напишите е-mail адреса си'
      autocomplete="off"
      disabled=disableForm
    }}

    {{validated-input model=model
      label="Парола"
      value=password
      valuePath='password'
      type="password"
      placeholder='Напишите паролата си'
      disabled=disableForm
    }}

    <p class="terms text-center">
      С регистрацията Вие се съгласявате с нашите {{#link-to "terms"}}Условия на ползване{{/link-to}}.
    </p>
  {{else if section.isBottom}}
    <p>Вече имате профил? {{#link-to "login"}}Вход{{/link-to}}</p>
    {{#link-to "resend-confirmation"}}Не получихте линк за потвърждение?{{/link-to}}
  {{/if}}
{{/auth-form}}
