{{title pageTitle}}

{{x-navbar dashboard=false}}

<div class="center-wrapper center-wrapper--welcome">
  <div class="center-content center-content--welcome">
    {{#if showWelcome}}
      <div class="welcome col-md-10 offset-md-1">
        <div class="icons">
          {{paper-cut class="icons-item"}}
          {{x-pen class="icons-item"}}
          {{x-picture class="icons-item"}}
          {{x-folder class="icons-item"}}
        </div>
        <h1>Добре дошли в wopo!</h1>
        <h3>Веднага можете да започнете да създавате портфолиото си, използвайки бутона по-долу.</h3>
        <button class="btn btn-primary" {{action "start"}}>Започни</button>
      </div>
    {{else if showSteps}}
      <div class="stepper">
        <div class="stepper-top">
          <div class="divider"></div>
          <div class="step {{if isFirst "active" "done"}}">
            <span class="tag tag-pill tag-primary">
              {{#if isFirst}}
                1
              {{else}}
                {{fa-icon "check"}}
              {{/if}}
            </span>
            <span class="title">Тема</span>
          </div>
          <div class="step {{if isSecond "active" (if isThird "done" "locked")}}">
            <span class="tag tag-pill tag-primary">
              {{#if isThird}}
                {{fa-icon "check"}}
              {{else}}
                2
              {{/if}}
            </span>
            <span class="title">Съдържание</span>
          </div>
          <div class="step {{if isThird "active" "locked"}}">
            <span class="tag tag-pill tag-primary">3</span>
            <span class="title">Завършете</span>
          </div>
        </div>

        {{first-step
          nextAction=(action "firstNext")
          show=isFirst
          data=data
          themes=model.themes
        }}

        {{second-step
          nextAction=(action "secondNext")
          backAction=(action "secondBack")
          show=isSecond
          data=data
        }}

        {{third-step
          backAction=(action "thirdBack")
          show=isThird
          data=data
          resetData=(action "resetData")
        }}
      </div>
    {{else}}
      <h4 class="text-xs-center">Зарежда се..</h4>
    {{/if}}
  </div>
</div>
